extends layout

block content 
  span
    strong Headings
  hr
  h1 Heading 1
  h2 Heading 2
  h3 Heading 3
  h4 Heading 4
  h5 Heading 5
  h6 Heading 6
  span 
    strong Paragraphs
  hr
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat velit ut augue vulputate, vitae iaculis mi accumsan. Mauris porta sollicitudin elit, fringilla dictum risus. Vestibulum sagittis a tortor id venenatis. Sed consectetur ullamcorper leo id blandit. 
  p Nulla non feugiat neque, sit amet sodales metus. Curabitur dictum mauris massa, quis fermentum purus sodales at. Maecenas quis semper quam. Suspendisse id ullamcorper erat. Vestibulum in ex et urna ornare aliquet sed ut quam. Vivamus ac enim ac libero pretium hendrerit. Quisque ut bibendum magna. Aliquam et diam sed velit suscipit dignissim.
  span
    strong Blockquote
  hr
  figure.blockquote
    blockquote
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat velit ut augue vulputate, vitae iaculis mi accumsan. Mauris porta sollicitudin elit, fringilla dictum risus. Vestibulum sagittis a tortor id venenatis. Sed consectetur ullamcorper leo id blandit. 
    figcaption
      cite
        small Giorgi Sinapsis
  span
    strong Small capitals
  hr
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat velit ut augue 
    abbr(title="hyper text markup language") HTML 
    | vitae iaculis mi accumsan. Mauris porta sollicitudin elit, fringilla dictum risus. Vestibulum sagittis a tortor id venenatis. Sed consectetur ullamcorper leo id blandit. Nulla non feugiat neque, sit amet sodales metus. Curabitur dictum mauris massa, quis fermentum purus sodales at.

  span
    strong Drop Capitals
  hr
  p.typl8-drop-cap Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat velit ut augue vulputate, vitae iaculis mi accumsan. Mauris porta sollicitudin elit, fringilla dictum risus. Vestibulum sagittis a tortor id venenatis. Sed consectetur ullamcorper leo id blandit.
  span
    strong Icons
  hr
  h4(aria-hidden="true" data-icon!="&#xe601").beta.social__icon Facebook
  span
    strong Small print
  hr
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    small Donec placerat velit ut augue vulputate, vitae iaculis mi accumsan.
  span
    strong Code
  hr
  p
    pre
      code
        span h1 {
        span $line-height: 3em;
        span };
  span
    strong Figures
  hr
  figure
    img(src="images/image.png" width="100%")
    figcaption
      strong Fig 1.1 | 
      | Figcaption description text


