@import "typeplate";

/*
 * icons
 */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  padding-right: .25em;
  -webkit-font-smoothing: antialiased;
  //font-smooth: antialiased;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

blockquote {
  font-style: italic;
}
.title {
  margin: 0;
}
.title, .subtitle {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.subtitle {
  font-weight: 300;
}
hr.light {
  background-color: grey;
  border: none;
  height: 1px;
  margin: 1em 0;
}
